/* header */
        header{
            background-color: #2D25A0;
            max-width: 1440px; /* it has to be changed later// */
            height: 677px;
        }
        nav {
            display: flex;
            justify-content: space-between;
            margin-left: 156px;
            margin-right: 124px;
        }

        nav a {
            text-decoration: none;
            color: black;
            font-size: 16px;
            font-weight: 500;
            margin-right: 36px;
            color: white;
        }